{%extends 'base.html'%}
{% block content %}
<div class="container">

 <div class="row">
   {% if projects%}
     <h2>Found {{ projects|length }} of searched term {{message}}</h2>
   {% else %}
     <h2> Found 0 articles for the search term {{message}}</h2>
     <p>{{project.title}}</p>
     <p>{{project.description}}</p>
     {% endif %}

 </div>

 <div class="row">

 {% if projects %}
   {% for project in projects %}
     <div class="col-sm-6 col-md-3">
         <h1>{{project.title}}</h1>
         <p>{{project.title}}</p>
         <p>{{project.description}}</p>
         <img src="{{project.image.url}}" style="width: 200%" class="image" data-toggle="modal" data-target="#exampleModal{{project.id}}"class="img-responsive" alt="Image" style="max-width:300px;">
     </div>
   {% endfor %}
 {% endif %}
 </div>
</div>
{% endblock %}